div {
    height:80px;
    width: 550px;
    background: greenyellow;

    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -100px;
    margin-left: -200px;
}
body{
    background: white;
}